In [45]:
import pandas as pd
import statistics
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [46]:
c_a=pd.read_csv("../Datos/Originales/Compresores/CompA.csv")
c_b=pd.read_csv("../Datos/Originales/Compresores/CompB.csv")
c_c=pd.read_csv("../Datos/Originales/Compresores/CompC.csv")
c_d=pd.read_csv("../Datos/Originales/Compresores/CompD.csv")

In [47]:
#Juntamos los cuatro compresores y la variable de compresor
c_a["Compresor"] = "A"
c_b["Compresor"] = "B"
c_c["Compresor"] = "C"
c_d["Compresor"] = "D"
df_comp = pd.concat([c_a, c_b, c_c, c_d], ignore_index=True)
df_comp

,Presion,Temperatura,Frecuencia,Potencia_Medida,Potencia_Estimada,Compresor
0,0.775748,16.9,0.000000,71.466562,77.432556,A
1,0.776315,16.6,0.000000,71.442768,77.498194,A
2,0.776784,16.6,0.000000,71.347653,77.477151,A
3,0.777093,16.4,0.000000,71.244807,77.524010,A
4,0.777436,16.4,0.000000,71.194101,77.508609,A
...,...,...,...,...,...,...
176776,0.747784,8.9,4.021267,78.700917,80.606028,D
176777,0.747565,8.9,4.006250,78.568766,80.613163,D
176778,0.747156,8.5,4.007903,78.495658,80.855701,D
176779,0.745775,8.5,4.012087,78.643818,80.988209,D
176780,0.744913,8.3,4.269080,78.895376,81.396918,D

In [48]:
logs=pd.read_csv("../Datos/Originales/Redes/Firewall_logs.csv")
logs

,Source Port,Destination Port,NAT Source Port,NAT Destination Port,Action,Bytes,Bytes Sent,Bytes Received,Packets,Elapsed Time (sec),pkts_sent,pkts_received
0,57222,53,54587,53,allow,177,94,83,2,30,1,1
1,56258,3389,56258,3389,allow,4768,1600,3168,19,17,10,9
2,6881,50321,43265,50321,allow,238,118,120,2,1199,1,1
3,50553,3389,50553,3389,allow,3327,1438,1889,15,17,8,7
4,50002,443,45848,443,allow,25358,6778,18580,31,16,13,18
...,...,...,...,...,...,...,...,...,...,...,...,...
65527,63691,80,13237,80,allow,314,192,122,6,15,4,2
65528,50964,80,13485,80,allow,4680740,67312,4613428,4675,77,985,3690
65529,54871,445,0,0,drop,70,70,0,1,0,1,0
65530,54870,445,0,0,drop,70,70,0,1,0,1,0
65531,54867,445,0,0,drop,70,70,0,1,0,1,0

In [49]:
logs.describe()

,Source Port,Destination Port,NAT Source Port,NAT Destination Port,Bytes,Bytes Sent,Bytes Received,Packets,Elapsed Time (sec),pkts_sent,pkts_received
count,65532.000000,65532.000000,65532.000000,65532.000000,6.553200e+04,6.553200e+04,6.553200e+04,6.553200e+04,65532.000000,65532.000000,65532.000000
mean,49391.969343,10577.385812,19282.972761,2671.049930,9.712395e+04,2.238580e+04,7.473815e+04,1.028660e+02,65.833577,41.399530,61.466505
std,15255.712537,18466.027039,21970.689669,9739.162278,5.618439e+06,3.828139e+06,2.463208e+06,5.133002e+03,302.461762,3218.871288,2223.332271
min,0.000000,0.000000,0.000000,0.000000,6.000000e+01,6.000000e+01,0.000000e+00,1.000000e+00,0.000000,1.000000,0.000000
25%,49183.000000,80.000000,0.000000,0.000000,6.600000e+01,6.600000e+01,0.000000e+00,1.000000e+00,0.000000,1.000000,0.000000
50%,53776.500000,445.000000,8820.500000,53.000000,1.680000e+02,9.000000e+01,7.900000e+01,2.000000e+00,15.000000,1.000000,1.000000
75%,58638.000000,15000.000000,38366.250000,443.000000,7.522500e+02,2.100000e+02,4.490000e+02,6.000000e+00,30.000000,3.000000,2.000000
max,65534.000000,65535.000000,65535.000000,65535.000000,1.269359e+09,9.484772e+08,3.208818e+08,1.036116e+06,10824.000000,747520.000000,327208.000000

In [50]:
c_a.describe()

,Presion,Temperatura,Frecuencia,Potencia_Medida,Potencia_Estimada
count,39321.000000,39321.000000,39321.000000,39321.000000,39321.000000
mean,0.770542,11.936001,18.072116,90.796443,90.945048
std,0.021078,6.053740,24.295732,15.561384,15.676944
min,0.735058,-2.200000,0.000000,69.618537,72.431766
25%,0.749447,7.900000,0.000000,78.677732,78.513035
50%,0.766375,11.600000,0.000000,82.456064,81.775146
75%,0.792374,15.400000,32.641157,103.964637,102.020353
max,0.817415,36.300000,100.000000,125.416806,125.000000

In [51]:
c_b.describe()

,Presion,Temperatura,Frecuencia,Potencia_Medida,Potencia_Estimada
count,45966.000000,45966.000000,45966.000000,45966.000000,45966.000000
mean,0.756487,12.457936,24.500749,88.683290,88.779733
std,0.008911,6.390871,24.536416,22.105677,22.152432
min,0.733322,-2.400000,0.000000,50.394369,55.614709
25%,0.748004,7.900000,1.000000,68.197637,68.357159
50%,0.756621,11.900000,18.000000,84.429360,83.925539
75%,0.763981,16.400000,39.057050,106.868053,104.131590
max,0.778551,38.300000,100.000000,130.714054,130.714054

In [52]:
c_c.describe()

,Presion,Temperatura,Frecuencia,Potencia_Medida,Potencia_Estimada
count,49705.000000,49705.000000,49705.000000,49705.000000,49705.000000
mean,0.755801,12.788935,26.707291,92.493392,92.631959
std,0.009212,7.020098,25.844649,21.725193,21.824802
min,0.727901,-3.200000,0.000000,54.588742,58.852337
25%,0.747439,7.300000,1.115993,71.830079,71.805553
50%,0.754395,12.200000,21.123530,88.936992,89.326151
75%,0.762912,17.400000,42.720023,111.417753,108.926272
max,0.781873,39.000000,100.000000,131.274307,131.274307

In [53]:
c_d.describe()

,Presion,Temperatura,Frecuencia,Potencia_Medida,Potencia_Estimada
count,41789.000000,41789.000000,41789.000000,41789.000000,41789.000000
mean,0.759691,12.852751,26.287229,95.829053,95.894564
std,0.012289,6.170078,26.868740,21.200003,21.197227
min,0.739489,-5.400000,0.000000,66.901101,66.901101
25%,0.748131,8.800000,0.000000,75.862089,75.940139
50%,0.759044,12.500000,20.380947,90.584560,92.277313
75%,0.768456,16.800000,44.000000,115.395048,113.243740
max,0.789103,38.100000,100.000000,132.000000,132.000000

In [54]:
df_comp.describe()

,Presion,Temperatura,Frecuencia,Potencia_Medida,Potencia_Estimada
count,176781.000000,176781.000000,176781.000000,176781.000000,176781.000000
mean,0.760178,12.528239,24.113553,91.913766,92.026343
std,0.014557,6.461401,25.640780,20.653660,20.713235
min,0.727901,-5.400000,0.000000,50.394369,55.614709
25%,0.748172,7.900000,0.000000,74.887941,75.358058
50%,0.757743,12.100000,17.000000,86.138320,86.609357
75%,0.767126,16.600000,40.000000,108.978045,107.111876
max,0.817415,39.000000,100.000000,132.000000,132.000000

DUPLICADOS

In [55]:
print(f"El compresor A tiene: {c_a.duplicated().sum()} duplicados")
print(f"El compresor B tiene: {c_b.duplicated().sum()} duplicados")
print(f"El compresor C tiene: {c_c.duplicated().sum()} duplicados")
print(f"El compresor D tiene: {c_d.duplicated().sum()} duplicados")
print(f"Firewall logs tiene: {logs.duplicated().sum()} duplicados")

El compresor A tiene: 0 duplicados
El compresor B tiene: 0 duplicados
El compresor C tiene: 6 duplicados
El compresor D tiene: 5 duplicados
Firewall logs tiene: 8362 duplicados

In [56]:
c_c.drop_duplicates(inplace=True)
c_d.drop_duplicates(inplace=True)
logs.drop_duplicates(inplace=True)

In [57]:
print(f"El compresor A tiene: {c_a.duplicated().sum()} duplicados")
print(f"El compresor B tiene: {c_b.duplicated().sum()} duplicados")
print(f"El compresor C tiene: {c_c.duplicated().sum()} duplicados")
print(f"El compresor D tiene: {c_d.duplicated().sum()} duplicados")
print(f"Firewall logs tiene: {logs.duplicated().sum()} duplicados")

El compresor A tiene: 0 duplicados
El compresor B tiene: 0 duplicados
El compresor C tiene: 0 duplicados
El compresor D tiene: 0 duplicados
Firewall logs tiene: 0 duplicados

MISSINGS

In [58]:
c_a.isnull().sum() # No hay missings

Presion              0
Temperatura          0
Frecuencia           0
Potencia_Medida      0
Potencia_Estimada    0
Compresor            0
dtype: int64

In [59]:
c_b.isnull().sum() # No hay missings

Presion              0
Temperatura          0
Frecuencia           0
Potencia_Medida      0
Potencia_Estimada    0
Compresor            0
dtype: int64

In [60]:
c_c.isnull().sum() # No hay missings

Presion              0
Temperatura          0
Frecuencia           0
Potencia_Medida      0
Potencia_Estimada    0
Compresor            0
dtype: int64

In [61]:
c_d.isnull().sum() # No hay missings

Presion              0
Temperatura          0
Frecuencia           0
Potencia_Medida      0
Potencia_Estimada    0
Compresor            0
dtype: int64

In [62]:
logs.isnull().sum() # No hay missings

Source Port             0
Destination Port        0
NAT Source Port         0
NAT Destination Port    0
Action                  0
Bytes                   0
Bytes Sent              0
Bytes Received          0
Packets                 0
Elapsed Time (sec)      0
pkts_sent               0
pkts_received           0
dtype: int64

GUARDAR CSV

In [63]:
df_comp = pd.concat([c_a, c_b, c_c, c_d], ignore_index=True)
print(f"El df de compresores tiene: {df_comp.duplicated().sum()} duplicados")

El df de compresores tiene: 0 duplicados

In [64]:
df_comp.to_csv("../Datos/Transformados/df_comp.csv", index=False)
logs.to_csv("../Datos/Transformados/logs.csv", index=False)